<html>
  <head>
    <title>Group access</title>
    <meta name="decorator" content="atl.admin">
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("com.nortal.atlassian.confluence.plugin.groupaccess:groupaccess-resources")
  </head>
  <body>
  	<div id="search-container">
		<div id="search-form-container">
		    <form id="search-form" class="aui">
		      <div class="field-group">
				<label for="search-form-input">Group name</label>
				<input type="text" id="search-form-input" name="group" class="text">
				<button class="button" id="search-submit-button">search</button>
		      </div>
		    </form>
		</div>
	    <div id="search-results-container"></div>
    </div>
	<script type="text/x-template" id="search-result-template">
	    <div>
	        <div class="search-result-header">
	            <a class="search-result-link"></a>
	        </div>
	    </div>
	</script>
  </body>
</html>